.background {
  
    background-image: url('https://thumbs.dreamstime.com/z/error-page-builders-repair-site-crane-flat-illustration-cartoon-style-not-found-concept-young-people-using-devices-to-110576125.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
  
}
.header {
color: #fc4a1a;
text-align: right;
}