@import 'base/colours';
@import 'base/fonts';

.index-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  // background-color: $light-grey-colour;
  background-color: #f3f0f6;
  font-size: 16px;
}

// .index-header{
//   margin-top: 50px;
// }

.index-row {
  margin-top: 50px;
}

.index-event-cards {
  max-height: 85vh;
  overflow: scroll;

  a {
    color: black;
    text-decoration: none;
  }

  .index-card {
    max-width: 90%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 10px;
    background-color: $yellow-colour;
    border: 4px solid $yellow-colour;
    color: white;
    // -webkit-box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.75);
    // -moz-box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.75);
    // box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.75);
  }

  .index-card:hover {
    background-color: $yellow-colour;
    border: 4px solid $orange-colour;
    color: white;
  }

  a:first-of-type {
    // .index-card {
    //   // border-top: 4px solid $orange-colour;
    // }
  }

  a:last-of-type {
    .index-card {
      // border-bottom: 4px solid $aqua-colour;
    }
  }
}

.index-map{
  margin-top: 20vh;
  // max-height: 90vh;
  // max-width: 90vw;
}

.marker {
  color: $orange-colour;
  height: 20px;
}
.mapboxgl-popup-content {
  box-shadow: 3px 3px 2px grey;

  .mapboxgl-popup-close-button {
    transform: scale(1.5);
    right: -22px;
    top: -11px;
      &:hover {
        background-color: transparent;
        color: $aqua-colour;
      }
  }
}

