[data-tooltip] {
  margin-left: 5px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: grey;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

// .control {
// display: flex;
// justify-content: center;
// }

.event-form-container {
  background-color: $dark-grey-colour;
  padding: 55px 100px;
  height: 100vh;
  overflow: scroll;
}

.field {
  color:black;
  font-family: 'Khula', sans-serif;

}

.label {
  height: auto;
  width: auto;
  justify-content: center;
  text-align: center;
}

.react-datepicker-wrapper {
  width: 80%
}

.event-form-category {
 background-color: white;
 width: 80%;
 font-size: 15px;
 justify-content: center;
 text-align: center;
}

.textarea {
  width: 80%;
  padding-top: 10px;
}

.createpage-date-time {
  width: 100%;
}

.btn-confirm {
  border: none;
  background-color: $orange-colour;
  color: white;
  font-size: 15px;
  &:hover{
    background-color: $yellow-colour;
  color: white;
  }
}

.event-input {
  height: 40px;
  width: 80%;
  padding-left: 10px;
}
.date {
  width: 80%;
}

.time {
  width: 80%;
  justify-content: center;
}

.react-datepicker__input-container{
  width: 100%;
}

.requiredpeople {
  width: 80%;
}
.location {
  width: 80%;
}
.event-create-heading{
  padding-top: 15px;
}


.event-create-form {
  background-color: $light-grey-colour;
  width: 50%;
  justify-content: center;
  text-align: center;
  border: none;
  padding: 30px 0px 30 0px;
  margin: auto;
}

.event-base {
  background-color: #dfdce3 ;

}
