[data-tooltip] {
  margin-left: 5px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: grey;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

// .control {
// display: flex;
// justify-content: center;
// }

.event-form-container {
  padding-top: 100px;
  background-color: darkgrey ;
}

.field {
  color:black;
  font-family: 'Khula', sans-serif;

}

.label {
  height: auto;
  width: auto;
  justify-content: center;
  text-align: center;
  
  
}

.event-form-category {
 background-color: white;
 width: 210px;
 font-size: 15px;
 justify-content: center;
 text-align: center;
}

.textarea {
  width: 210px;
}

.btn-confirm {
background-color:#fc4a1a;
color: white;

}

.input {
  height: 40px;
  width: 210px;
  justify-content: center;
  text-align: center;
}
.date {
  width: 210px;
}

.time {
  width: 210px;
  justify-content: center;
}
// .react-datepicker__input-container{
//   width: 210px;
// }
.requiredpeople {
  width: 210px;
}
.location {
  width: 210px;
}


.event-create-form {
  background-color: #f3f0f6;
  width: 80px;
  justify-content: center;
  text-align: center;
  border: solid 0.5px black;
  padding: 30px 0px 30 0px;
  margin: auto;
}

.event-base {
  background-color: darkgrey ;

}
