@import 'base/colours';
@import 'base/fonts';

.index-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: $dark-grey-colour;
  font-size: 16px;
}

.index-container {
  background-color: $light-grey-colour;
  padding: 80px;
  height: 100vh;
}

.index-row {
  margin-top: 50px;
}

.index-event-cards {
  max-height: 70vh;
  overflow: scroll;
  a {
    text-decoration: none;
  }

  .index-card {
    max-width: 90%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
    padding: 10px;
    background-color: $aqua-colour;
    border: 5px solid $aqua-colour;
    color: white;
    h5 {
      text-align: center;
      background-color: $orange-colour;
      padding: 5px;
      margin-top: -25px;
      border-radius: 5px;
    }
  }

  .index-card:hover {
    border: 5px solid $orange-colour;
  }
}

.index-map{
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker {
  color: $orange-colour;
  height: 20px;
}
.mapboxgl-popup-content {
  box-shadow: 3px 3px 2px grey;

  .mapboxgl-popup-close-button {
    transform: scale(1.5);
    right: -22px;
    top: -11px;
      &:hover {
        background-color: transparent;
        color: $aqua-colour;
      }
  }
}

