@import 'base/colours';
@import 'base/fonts';

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/dreamstime.jpg');
  height: 100vh;
  width: 100vw;
  position: relative;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-heading {
  font-family: 'Khula', sans-serif;
  font-size: 110px;
  font-weight: 900;
  text-align: center;
  margin-bottom: -20px;
}

.color-overlay {
  height: 100vh;
  width: 100vw;
  background-color: #38a090;
  opacity: 0.85;
  position: absolute;
}

.home-subtitle {
  text-align: center;
}

.form {
  width: 100%;
  position: relative;
  z-index: 90;
}

.user-input {
  width: 210px;
  font-size: 15px;
}

.btn-home {
  border: none;
  background-color: $orange-colour;
  color: white;
  font-size: 15px;
  &:hover{
    background-color: $yellow-colour;
  color: white;
  }
}