@import 'base/colours';
@import 'base/fonts';

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://thumbs.dreamstime.com/z/social-media-community-network-chalkboard-illustration-73174345.jpg');
  height: 100vh;
  width: 100vw;
  position: relative;
  color: white;
  // background-image: url('https://thumbs.dreamstime.com/z/social-media-community-network-chalkboard-illustration-73174345.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // position: relative;
  // min-height: 100vh;
  // width: 100vw;
  // display: flex;
  // margin: 0px;
  // padding: 0px;
}

.section-heading {
  font-family: 'Khula', sans-serif;
  font-size: 100px;
  font-weight: 900;
}


.color-overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 113, 0);
  opacity: 0.7;
  position: absolute;
}

.form {
  width: 100%;
  position: relative;
  z-index: 90;
}

// .row-form {
//   margin-top: 10rem;
// }

.btn-home {
  border: none;
  background-color: $orange-colour;
  color: white;
  &:hover{
    background-color: $yellow-colour;
  color: white;
  }
}