@import 'base/colours';

.nav {
  // height: 50px;
  width: 100vw;
  position: fixed;
  background-color: $orange-colour;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Tahoma;
}

.nav a:hover{
  background-color: $yellow-colour;
  color: white;
}

.nav > .nav-header {
  display: inline;
}

.nav a.navbar-title {
  display: block;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  // float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  // padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  // .nav {
  //   // overflow: visible;
  // }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    // width: 80%;
    background-color: $orange-colour;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    position: relative;
    z-index: 50;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
    position: relative;
    z-index: 600;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(40vh - 5vh);
    overflow-y: auto;
  }
  
}
