.tennis-ball {
  height: 150px;
  width: 250px;
}

.profile-prof-picture {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: $dark-grey-colour;
  font-size: 16px;
  overflow: scroll;
}

.profile-container {
  background-color: $light-grey-colour;
  padding: 80px;
  // height: 100vh;
}

.profile-row {
  max-height: 100vh;
}

.profile-user-data {
  font-size: 18px;
  // border: 5px solid $orange-colour;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
}

.profile-event-cards {
  min-height: 20vh;
  a {
    text-decoration: none;
    color: black;
  }

  .profile-card {
    max-width: 70%;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 25px;
    padding: 10px;
    color: black;
    border-bottom: 5px solid $orange-colour;
    h5 {
      font-size: 20px;
    }
  }
  h2 {
    font-size: 30px;
    text-align:center;
  }
}

.profile-upcoming-cards {
  border-radius: 5px;
  background-color: $aqua-colour;
  border: 5px solid $aqua-colour;
}

.profile-created-cards {
  border-radius: 5px;
  background-color: $yellow-colour;
  border: 5px solid $yellow-colour;
}

.profile-past-cards {
  border-radius: 5px;
  background-color: $dark-grey-colour;
  border: 5px solid $dark-grey-colour;

  // .profile-container-past-cards {
  //   display: flex;
  //   flex-wrap: wrap;
  //   flex-direction: row;
  // }
}

.profile-upcoming-card {
  border: 5px solid $aqua-colour;
  &:hover {
    border: 5px solid $orange-colour;
  }
}


.profile-created-card {
  border: 5px solid $yellow-colour;
  &:hover {
    border: 5px solid $orange-colour;
  }
}


.profile-past-card {
  border: 5px solid $dark-grey-colour;
  &:hover {
    border: 5px solid $orange-colour;
  }
}
