body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  box-sizing: border-box;
}

@import './components/eventIndex';
@import './components/error';
@import './components/register';
@import './components/navbar';
@import './components/homePage';
@import './components/login';
@import './components/eventForm';
@import './components/userProfile';
@import './components/eventShow';